.table thead {
  background: var(--table-border-color);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.important {
  background: #1095C1;
}

.important td {
  color: #f9f9f9;
}