.table thead {
  background: var(--table-border-color);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.important {
  background: #DF2225;
  color: #FFF;
}

.important td {
  color: #FFF;
}
